<h1>Create a new bookmark</h1>

<%= simple_form_for [ @bookmark, @list, @movie ] do |f| %>
  <%= f.association :list_id, :name %>
  <%= f.association :movie_id, :title %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
